@model IEnumerable<Pokemon>

@{
    ViewData["Title"] = "Favorites Pokémon cards";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Favorites Pokémon cards</h1>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Select</th>
                        <th>Navigate</th>
                        <th class="text-end">Actions</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="javascript:void(0);" class="pokemon-name text-capitalize text-decoration-none link-dark hover-overlay" data-id="@item.Id">@item.Name</a>
                        </td>
                        <td>
                            <a class="text-capitalize text-decoration-none link-dark" asp-action="Details" asp-route-id="@item.Id">View in tab</a>
                        </td>
                        <td class="text-end">
                            <a class="text-capitalize text-decoration-none link-dark" asp-action="Unfavor" asp-route-id="@item.Id">
                                <i class="bi bi-bookmark-fill">Unfavor</i>
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col-md-6" id="pokemonDetails">
            <h4 class="text-center">Please select a Pokémon card</h4>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.pokemon-name').forEach(link => {
        link.addEventListener('click', async function(event) {
            event.preventDefault();
            const pokemonId = this.getAttribute('data-id');             
            try {                
                const response = await fetch(`/Pokemons/PokemonPartialView/${pokemonId}`);
                const pokemonInfo = await response.text();
                
                console.log("pokemonInfo",pokemonInfo)
                
                document.getElementById('pokemonDetails').innerHTML = pokemonInfo;
            } catch (error) {
                console.error('Error fetching Pokémon image:', error);
                document.getElementById('pokemonDetails').innerHTML = '<p>Error loading image.</p>';
            }
        });
    });
});
</script>

