@model IEnumerable<Pokemon>

@{
    ViewData["Title"] = "Favorites Pokémon cards";
}

<table class="table table-bordered table-striped">
    <thead class="thead-dark text-white">
        <tr>
            <th>@Html.DisplayNameFor(m => Model.GetEnumerator().Current.Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a class="text-capitalize text-decoration-none link-dark hover-overlay" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
            </td>
            <td class="text-end">
                <a class="text-capitalize text-decoration-none link-dark" asp-action="Unfavor" asp-route-id="@item.Id">
                    <i class="bi bi-bookmark-fill">Unfavor</i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
 