@page
@using Microsoft.Extensions.Options
@inject IOptions<Application> application
@model RegisterModel

@{
    ViewData["Title"] = "Welcome to " + @application.Value.Name;
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h3 class="text-center mb-3">Create account</h3>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Username" class="form-control" id="floatingUsername" autocomplete="username" aria-required="true" />
                    <label for="floatingUsername" asp-for="Input.Username">Username</label>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" id="floatingPassword" autocomplete="new-password" aria-required="true" />
                    <label for="floatingPassword" asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-4">
                    <input asp-for="Input.ConfirmPassword" class="form-control" id="floatingConfirmPassword" autocomplete="new-password" aria-required="true" />
                    <label for="floatingConfirmPassword" asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="d-grid">
                    <button id="registerSubmit" type="submit" class="btn btn-lg btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
