html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* unvisited link */
a:link {
    color: #000;
}
/* visited link */
a:visited {
    color: #095484;
}
/* mouse over link */
a:hover {
    color: #8ebf42;
}
/* selected link */
a:active {
    color: inherit;
}